version: '3.7'
services:
  steeltoe-app:
    container_name: steeltoe-app
    build:
      context: <ABSOLUTE_PATH_TO_PROJECT>
    ports:
    - 80:80
  wavefront-proxy:
    image: wavefronthq/proxy:latest
    container_name: wavefront-proxy
    ports:
    - 2878:2878
    - 9411:9411
    depends_on:
    - steeltoe-app
    environment:
    - WAVEFRONT_URL=https://longboard.wavefront.com/api/
    - WAVEFRONT_TOKEN=<YOUR_API_TOKEN>
    - JAVA_HEAP_USAGE=512m
    - WAVEFRONT_PROXY_ARGS="--traceZipkinListenerPorts 9411"
  telegraf:
    image: telegraf:latest
    container_name: telegraf
    command:
    - --config=/etc/telegraf/telegraf.conf
    volumes:
    - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
    - steeltoe-app
    - wavefront-proxy